@keyframes fadeInDown {
	0% {
    transform: scaleY(0);
    opacity:0;
    transform-origin: top;
  }
	100% {
    transform: scaleY(1);
    opacity:1;
    transform-origin: top;
  }
}

@keyframes fadeOutUp {
  0% {
    transform: scaleY(1);
    opacity:1;
    transform-origin: top;

  }
	100% {
    transform: scaleY(0);
    opacity:0;
    transform-origin: top;
  }
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    transform-origin: top left;

  }
	100% {
    transform: scale3d(1, 1, 1);
    opacity:1;
    transform-origin: top left;
  }
}

@keyframes zoomOutUp {
  0% {
    transform: scale3d(1, 1, 1);
    opacity:1;
    transform-origin: top left;

  }
	100% {
    transform: scale3d(0.3, 0.3, 0.3);
    opacity:0;
    transform-origin: top left;
  }
}


